/* Header */

.header {
  border: 1px solid _palette(bg);
  > * {
    @include vendor("flex", "1");
    margin-bottom: 0;
  }
  .logo {
    border-bottom: 0;
    color: inherit;
    font-family: _font(family-heading);
    .first-part {
      color: _palette(fg-logo);
      font-size: 40px;
      font-weight: _font(weight-heavy-bold);
    }
    .second-part {
      color: _palette(fg-logo);
      font-size: 20px;
      font-weight: _font(weight-heavy-bold);
    }
  }

  .icons {
    text-align: right;
  }
  .navbar {
    height: 80px;
    box-shadow: 0 1px 10px 0 _palette(fg), 0 7px 10px -5px _palette(bg);
  }
  .navbar-brand {
    border-bottom: none;
  }
  .navbar-nav {
    a {
      font-weight: _font(weight-semi-bold);
      font-size: 14px;
      text-align: left;
      color: _palette(fg-nav) !important;
      border-bottom: none;
      margin-right: 50px;
    }
  }
  div#basic-navbar-nav {
    margin-left: 112px;
  }

  @include breakpoint("<=xlarge") {
    padding-top: 5em;
  }

  @include breakpoint("<=small") {
    padding-top: 6.5em;

    .logo {
      font-size: 1.25em;
      margin: 0;
    }

    .icons {
      height: (6.25em / 1.25);
      line-height: (6.25em / 1.25);
      position: absolute;
      right: (-0.625em / 1.25);
      top: 0;
    }
  }
}
